fpath=(/usr/local/share/zsh-completions $fpath)

export PATH="/usr/local/opt/openssl/bin:/usr/local/opt/mysql@5.7/bin:/usr/local/opt/mysql-client/bin:/Users/pablocastillo/src/ansible/bin:$PATH"
export PYTHONPATH="/Users/pablocastillo/src/ansible/lib"
#export MANPATH="$PATH:/Users/pablocastillo/src/ansible/docs/man"
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY="YES"

export SRC_DIR='/Users/pablocastillo/src'
export DOTFILES_DIR="$HOME/dotfiles-local"
export EDITOR="atom --wait --new-window"
export VISUAL="atom --wait --new-window"

export HOMEBREW_GITHUB_API_TOKEN=""
export DO_API_KEY=""

export VAULT_ADDR="https://vault.autogravity.com"
export VAULT_GITHUB_TOKEN=""
export VAULT_API_TOKEN=""
export TF_VAR_do_token=$DO_API_KEY
export TF_VAR_VAULT_ADDR=$VAULT_ADDR
export TF_VAR_VAULT_GITHUB_TOKEN=$VAULT_GITHUB_TOKEN
export TF_CLI_ARGS_plan="-var-file=$SRC_DIR/ops-aws/terraform/global.tfvars -parallelism=500"
export TF_CLI_ARGS_destroy="-var-file=$SRC_DIR/ops-aws/terraform/global.tfvars -parallelism=500"
export TF_CLI_ARGS_apply="-var-file=$SRC_DIR/ops-aws/terraform/global.tfvars -parallelism=500"
export TF_CLI_ARGS_validate="-var-file=$SRC_DIR/ops-aws/terraform/global.tfvars"
export JVM_ARGS="-Xms1024m -Xmx4096m"

bindkey -e
bindkey '[C' forward-word
bindkey '[D' backward-word

eval "$(nodenv init -)"

if which pyenv &>/dev/null ; then
  eval "$(pyenv init -)"
fi

export PATH="$HOME/.bin:$PATH"
eval "$(rbenv init - --no-rehash)"